<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="/css/contacts.css">
</head>
<body>
<header>
    <h1>Журнал контактов</h1>
</header>

<div class="wrapper">


        <a href="/contact" class="button">Новый контакт</a>


    <table>
        <tr>
            <td></td>
            <th>Имя</th>
            <th>Дата Рождения</th>
            <th>Адрес</th>
            <th>Место работы</th>
        </tr>
        {{#contacts}}
        <tr>
            <td><input type="checkbox" id="{{id}}"></td>
            <td>{{name}}</td>
            <td>{{date}}</td>
            <td>{{address}}</td>
            <td>{{job}}</td>
        </tr>
        {{/contacts}}

    </table>

</div>

</body>
</html>