<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="stylesheet" href="../static/css/contacts.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/contacts.css">
</head>
<body>
<h2>Заполните контактные данные</h2>
<form action="">
    <fieldset id="personalInfo">
        <div>
            <label>Имя<input type="text" name="firstName" id="firstName" required></label>
        </div>
        <div>
            <label>Фамилия<input type="text" name="lastName" id="lastName" required></label>
        </div>
        <div>
            <label>Отчество<input type="text" name="middleName" id="middleName"></label>
        </div>
    </fieldset>



    <fieldset id="addInfo">
        <div>
            <label>Дата Рождения<input type="date"></label>
        </div>
        <div>
            <label>Пол
                <select name="sex" id="sex">
                <option value="1">Мужской</option>
                <option value="0">Женский</option>
            </select>
            </label>
        </div>
        <div>
            <label>Гражданство<input type="text"></label>
        </div>
        <div>
            <label> Семейное положение
                <select name="familyStatus" id="familyStatus">
                    <option value="1">Состоит в браке</option>
                    <option value="0">Не состоит в браке</option>
                </select>
            </label>
        </div>


    </fieldset>
    <fieldset></fieldset>
    <fieldset></fieldset>
    <fieldset></fieldset>


    


    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">


</form>
</body>
</html>