*{
    margin: 0;
}

body{
    background: #696969;
    text-align: center;
    color: #fff;
}


header{
    line-height: 48px;
    color: #fff;
    text-shadow: 2px 2px 2px #3E4347;
    background: #4f4f4f;
    height: 65px;

}

.wrapper {
    width: 80%;
    margin: 0 auto;
}
 h3{
    display: block;
    margin: 0 auto;
 }

table{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    font-weight: 500;
    background: white;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    border: solid #c2c2c2 2px;
    border-radius: 3px;
    width: 1000px;
    table-layout: fixed;

}

table th{
    font-weight: 600;
    padding: 8px 10px;
    background-color: #595959;
    height: 45px;
}

table td:not(.check){
    width: 24%;
    padding: 8px 0;
    color: #fffae5;
    background-color: #696969;
}
table td.check{
    max-width: 30px;
    background-color: #696969;
}


table tr{
    background-color: #49b866;
}


table tr:last-child td{
    border-bottom: none;
}

table td input{

}

.anchor{
    cursor: pointer;
    margin: 0 5px;
}

form{
    margin: 10px auto;
    width: 50%;
    background: #48516d;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #2a334d, -2px -2px 2px #2a334d;
}

.contactPhoto{
    width: 20%;
    height: 160px;
    background-color: #fff;
    float: left;
    margin: 40px 0 10px 30px;
    border-radius: 5px;
}

.flex.flexColumn{
    flex-direction: column;
    width: 60%;
}

.flex{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.flex div{
    flex-basis: 45%;
    margin: 0 5px;
}

.flex .big{
    flex-basis: 110%;
}
.flex .sex{
    flex-basis: 25%;
}

label{
    font-size: .9em;
    text-shadow: 1px 1px 1px #2a334d;
}

input{
    width: 100%
}

input, label, select{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    height: 25px;

}

 h2{
     float: left;
     margin: 12px;
 }


.button{
    display: inline-block;
    background: #1dabb8;
    border-radius: 3px;
    font-weight: bold;
    margin: 10px auto;
    padding: 12px 20px;
    cursor: pointer;
    width: 140px;
    text-decoration: none;
}

 .formButton{
    width: 18%;
    padding: 6px 12px;
    margin-left: 3px;
    float: right;
    text-shadow: 1px 1px 1px #2a334d;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, .49);
}
 .send{
     background-color: #3f8643;
 }

 .delete{
     background-color: #da4919;

 }

.update{
    background-color: #5466da;
}
.button:hover {
    background: #198d98;
}
.send:hover{
    background-color: #254b25;
}
.delete:hover{
    background-color: #773012;
}
.update:hover{
    background-color: #353d7a;
}



.popup{
    position: fixed;
    width: 80%;
    max-width: 500px;
    left: 50%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    background-color: #48516d;
    padding: 10px;
    border-radius: 5px;
    z-index: 103;
}

label.popupOverlay {
    position: fixed;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 102;
}

.popupPhoneOpen:checked ~ label.popupPhoneOverlay
{
    display: block;
    opacity: 1;
}

.popupPhoneOpen:checked ~ .popupPhone{
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.popupAttachmentOpen:checked ~ label.popupAttachmentOverlay
{
    display: block;
    opacity: 1;
}

.popupAttachmentOpen:checked ~ .popupAttachment{
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}


input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.radio-group label{
    color: #fff;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
    background: #585858;

}

input[type=radio]:checked + label{
    color: #fff;
    background: #363636;
}

label + input[type=radio] + label {
    border-left: solid 3px;
    border-radius: 3px 0 0 3px;
}
.radio-group {
    width: 120px;
    left: 10px;
    border: solid 3px white;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
}


@media only screen and (max-width: 1024px) {
    form{
        width: 90%;
    }
}