* {
    margin: 0;
}
html, body{
    height:100%;
}

body {
    background: url('../images/bigbg3.jpg') center center no-repeat fixed;
    background-size: cover;
    text-align: center;
    color: #363636;
    font-family: 'Arial', serif;
}

header {
    line-height: 48px;
    color: #fff;
    text-shadow: 2px 2px 2px #3E4347;
    height: 75px;
    display: flex;
    letter-spacing: 1px;
}

h1 {
    font-family: 'Kalam', serif;
    font-weight: 400;
    font-size: 3em;
    text-align: justify;
    line-height: 75px;
    padding: 10px;
}

h2 {
    float: left;
    margin: 12px;
}

input{
    font-size: 18px;
    text-align: justify;
}
.logo{
    cursor: pointer;
}
.menu {
    flex-grow: 2;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    vertical-align: baseline;
    justify-content: center;
}

.menu .button {
    margin: 0 20px;
    display: block;
    line-height: 75px;
    height: 75px;
    transition: all 0.2s ease;
}

.menu .button:hover {
    -webkit-transform: scale(1.075);
    -moz-transform: scale(1.075);
    -ms-transform: scale(1.075);
    -o-transform: scale(1.075);
    transform: scale(1.075);
    border-bottom: solid 2px #fff;
}

.menu .button:active {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
}

.searchButton{
    display: none;
}

.wrapper {
    width: 80%;
    margin: 40px auto 0;
}

h3 {
    display: none;
    margin: 0 auto;
}

.contactsTable {
    font-size: 16px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-collapse: collapse;
    margin: 5px auto;
    border-radius: 3px;
    width: 1130px;
    table-layout: fixed;

}

.contactsTable tr:hover {
    background-color: rgba(194, 194, 194, 0.66);
}

table th {
    font-weight: 600;
    padding: 8px 10px;
    background-color: rgba(54, 108, 145, 0.66);
    height: 45px;
    border-bottom: 2px solid #363636;
}

.contactsTable td:first-child {
    width: 30px;
}
.contactsTable td:nth-child(2) {
    width: 300px;
}
.contactsTable td:nth-child(3) {
    width: 200px;
}
.contactsTable td:nth-child(4) {
    width: 200px;
}
.contactsTable td:nth-child(5) {
    width: 400px;
}

.check input {
    width: 20px;
    height: 20px;
    margin: 5px auto;
}

.contactsTable .contactNameAnchor {
    color: #353d7a;
    cursor: pointer;
    text-decoration: underline;
}

.contactsTable .contactNameAnchor:hover {
    font-size: 1.05rem;
}

.contactsTable .contactNameAnchor:active {
    font-size: 1rem;
}

.anchor {
    cursor: pointer;
    margin: 0 5px;
    color: white;
    text-decoration: none;
}

.phones, .attachments{
    position: relative;
    width: 80%;
    margin: 90px auto 10px;
}

.phones, .attachments{
    background: none;
    margin-bottom: 40px;

}
.phones th, .attachments th{
    background: none;
    height: 25px;
}

.searchForm{
    height: 0;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: content-box;
    overflow: hidden;
    transition: all .3s;
    margin-top: 20px;
}

.searchButton:checked ~ .searchForm{
    height: 210px;
}

.contactFormWrapper {
    margin: 10px auto;
    width: 50%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px #595959, -2px -2px 8px #595959;
}

.contactForm{
    margin-bottom: 60px;
}

.flex.flexColumn {
    flex-direction: column;
    width: 60%;
    min-height: 200px;
    flex: 1;
}
.flex.flexColumn div{
    width: 100%;
    min-height: 80px;
    flex: 1;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    align-items: flex-end;
    flex: 1;

}

.flex div {
    flex-basis: 45%;
    margin: 0 5px;
}

label {
    font-size: 1em;
    text-shadow: 1px 1px 8px #363636;
    padding-top: 10px;

}

.contactFormWrapper input {
    width: 100%;
}

.contactFormWrapper input, label, select {
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    height: 35px;

}



.contactPhoto:hover i{
    font-size: 6rem;
}
.contactPhoto, .contactFormWrapper input, select,.popup input {
    border: solid 1px #898989;
    background: rgba(253, 255, 244, 1);
}

.contactPhoto {
    width: 20%;
    height: 160px;
    float: left;
    margin: 40px 0 10px 30px;
    border-radius: 3px;
}

.contactPhoto i{
    font-size: 5rem;
    text-align: center;
    margin: 30px auto 20px;
}

.contactFormWrapper input:not(.check):hover, select:hover, .contactPhoto:hover, .popup input:hover {
    box-shadow: 2px 2px 8px #595959, -2px -2px 8px #595959;
}

.contactFormWrapper input:focus, select:focus {
    background: rgba(255, 255, 255, 1);
}

.disabled{
    pointer-events: none;
}

.button {
    cursor: pointer;
    border: solid 1px #363636;
    border-radius: 3px;
}

.menu .button{
    border: none;
}

.formButton {
    width: 20%;
    padding: 6px 12px;
    margin-left: 3px;
    float: right;
    height: 24px;
}

.formButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-shadow: none;
}

.formButton .circle {
    background-color: #08714c;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    margin-right: 1rem;
    transition: 0.25s;
}

.formButton .text {
    position: relative;
    left: 0;
    transition: 0.5s;
}

.formButton:hover {
    color: white;
}

.formButton:hover .circle {
    -webkit-transform: scale(25);
    transform: scale(25);
}

.formButton:hover .text {
    left: -1rem;
}

.delete .circle {
    background-color: #da4919;
}

.update .circle {
    background-color: #5466da;
}

.simpleButton, .popupFooter .button{
    width: 20%;
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    margin: 10px auto;
}

.simpleButton:hover{
    background-color: #08714c;
    color: #fff;
    font-size: 1.3rem;
}

.popupFooter .button{
    width: 25%;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
}

.popupAttachment .simpleButton, .popupAvatar .simpleButton{
    width: 90%;
    height: 35px;
    line-height: 30px;
    margin-bottom: 0;
    background-color: #2381a5;
}

.popupAttachment .simpleButton:hover, .popupAvatar .simpleButton:hover{
    background-color: #1f5c7c;
}

.addButton{
    background-color: #08714c;
}



.popup {
    position: fixed;
    width: 100%;
    max-width: 700px;
    left: 50%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    background: #878787;
    padding: 10px;
    border-radius: 5px;
    z-index: 103;
}

label.popupOverlay {
    position: fixed;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 102;
}

.popupPhoneOpen:checked ~ label.popupPhoneOverlay {
    display: block;
    opacity: 1;
}

.popupPhoneOpen:checked ~ .popupPhone {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.popupAvatarOpen:checked ~ label.popupAvatarOverlay {
    display: block;
    opacity: 1;
}

.popupAvatarOpen:checked ~ .popupAvatar {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}


.popupAttachmentOpen:checked ~ label.popupAttachmentOverlay {
    display: block;
    opacity: 1;
}

.popupAttachmentOpen:checked ~ .popupAttachment {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.popupEmailOpen:checked ~ label.popupEmailOverlay {
    display: block;
    opacity: 1;
}

.popupEmailOpen:checked ~ .popupEmail{
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.popupEmail{
    min-height: 550px;
}
.popupEmail .flex{
     width: 80%;
     align-items: center;
     justify-content: space-between;
     flex: 1;
     min-height: 50px;
 }


.popupEmail .flex div{
    /*flex-basis: 80%;*/
}

.popupEmail .flex input{
    width: 80%;
    height: 1.5rem;
}

.popupEmail textarea{
    width: 80%;
    height: 140px;
}

.popupAttachment input[type="file"]{
    display: none;
}

.popupAttachment #fileName{
    font-size: 1rem;
}

input[type=radio] {
    visibility: hidden;
    display: none;
}

.radio-group label {
    color: #fff;
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    border: solid 1px white;
}

input[type=radio]:checked + label {
    color: #363636;
    background-color: white;
    font-weight: bold;
    text-shadow: none;
}

.radio-group {
    width: 140px;
    height: 35px;
    line-height: 35px;
    display: block;
    margin: 10px auto;
    border-radius: 3px;
}

@media only screen and (max-width: 1024px) {
    .contactForm {
        width: 90%;
    }
}